PORT=5010
BASE_JIRA_API="https://{ORG_NAME}.atlassian.net"
GOOGLE_CHAT_WEBHOOK="https://chat.googleapis.com/v1/spaces/{SPACE_ID}/messages?key={SPACE_KEY}&token={SPACE_TOKEN}"
# use this to filter Boards
JIRA_BOARD_NAME_FILTER="ABC"
# use for WORKER only
WORKER_JR_BOARD_ID=123
WORKER_JR_USERNAME="username@ORGANIZE.net"
WORKER_JR_PASSWORD=""